*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 500;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(255,255,255,0.8)),url(./img/pexels-mark-mccammon-1080721.jpg);

}
.header{
    height: 70px;
    width: 100%;
   
}
.header ul{
    float: right;
}
.header ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    margin-right: 20px;
    line-height: 70px;
}
.logo{
    margin-top: 5px;
    font-size: 60px;
    line-height: 70px;
    margin-left: 50px;
    background: black;
    padding: 10px;
    border-radius: 5px;
}
#span2{
    
    background: rgba(247, 161, 2, 0.911);
    margin-left: 5px;
    border-radius: 10px;
}
#span1{
    background: black;
    color: white;
    border-radius: 10px;
}
.main{
    height: 200px;
    width: 100%;
    margin: 200px auto;
    text-align: center;
    
}
.main span{
    text-transform: uppercase;
    font-size: 70px;
}
.main p{
    font-size: 20px;
}

.btn button{
    
    margin:20px 10px;
    padding :10px 30px;
    text-align: center;
    border-radius: 25px;
    border-color: black;
    background: none;
    font-size: 17px;
    font-weight: 500;
    transition:  1s;
}
.btn button:hover{
    background: #333;
    color:white
}